{% extends "base.html" %}
{% block title %}Entrar — {{ empresa.nome }}{% endblock %}
{% block content %}
<section class="pagina-login">
  <form method="post" class="card-login">
    {% csrf_token %}
    <i class="fa-solid fa-user"></i>
    <h1>Entrar</h1>
    <label>Usuário
      <input type="text" name="usuario" required autofocus autocomplete="username" /></label>
    <label>Senha
      <input type="password" name="senha" required autocomplete="current-password" /></label>
    <button type="submit" class="btn btn-primary btn-block"><i class="fa-solid fa-right-to-bracket"></i> Entrar</button>
  </form>
</section>
{% endblock %}
